.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-left: 2px solid #910f13;
}

.profile__title {
    padding: 0 5px;
    margin: 0;
    font-size: 30px;
    background-color: #910f13;
    color: #fff;
    
}

.profile__text {
    font-size: 24px;
    padding: 15px 0;
    margin: 0;
    padding-left: 5px;
}

.profile__text:nth-child(odd) {
    background-color: #910f13;
    color: #fff;
}

.btn__profile {
    margin-top: 20px;
    align-self: center;
    background: #910f13;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px;
    border: none;
}

.btn__profile:hover {
    background: #6d0e11;
}

.btn__profile:active {
    opacity: 0.6;
}